@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: 'Poppins', sans-serif;
}

.company-name {
  text-transform: uppercase;
  letter-spacing: 9px;
}

.navItems {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}

.date {
  letter-spacing: 9px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}